@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'DMBold';
  src: url(/src/fonts/DMSans-Bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: 'DMMedium';
  src: url(/src/fonts/DMSans-Medium.ttf);
  font-weight: medium;
}

@font-face {
  font-family: 'DMRegular';
  src: url(/src/fonts/DMSans-Regular.ttf);
  font-weight: normal;
}

.dmb {
  font-family: 'DMBold';
}

.dmm {
  font-family: 'DMMedium';
}

.dmr {
  font-family: 'DMRegular';
}

#sheet {
  animation: sheet 1.5s ease-in-out infinite alternate;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  height: 5px;
  background-color: #ffffff;
  width: 5px;
}

::-webkit-scrollbar-thumb {
  border-radius: 16px;
  border: 4px solid #a2a2a2;
}

.noise {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  content: '';
  opacity: 0.05;
  z-index: 1000;
  pointer-events: none;
  background: url(./pics/noise.gif);
}

.homeButton {
  position: absolute;
  top: 2%;
  left: 5%;
  z-index: 9999;
  transition: 0.08s ease-in;
}

.homeButton button {
  width: 50px;
  height: 50px;
  background-color: transparent;
  border: 1px solid white;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.homeButton button:before {
  content: '';
  position: absolute;
  background: #ffffff;
  opacity: 50%;
  bottom: 0;
  left: 0;
  right: 0;
  top: 100%;
  z-index: -1;
  -webkit-transition: top 0.09s ease-in;
}

.homeButton button:hover:before {
  top: 0;
}

.backButton {
  position: absolute;
  top: 2%;
  right: 5%;
  z-index: 9999;
  transition: 0.08s ease-in;
}

.backButton button {
  width: 50px;
  height: 50px;
  background-color: transparent;
  border: 1px solid white;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.backButton button:before {
  content: '';
  position: absolute;
  background: #ffffff;
  opacity: 50%;
  bottom: 0;
  left: 0;
  right: 0;
  top: 100%;
  z-index: -1;
  -webkit-transition: top 0.09s ease-in;
}

.backButton button:hover:before {
  top: 0;
}

/* pages */

.aboutme {
  background-color: #a18276;
  position: relative;
  height: 100vh;
  width: 100%;
}

.resume {
  background-color: #aac0aa;
  position: relative;
  min-height: 100vh;
  width: 100%;
}

.personal {
  background-color: #bbc9fc;
  position: relative;
  min-height: 100vh;
  width: 100%;
}

.international {
  background-color: #ffb677;
  position: relative;
  min-height: 100vh;
  width: 100%;
}

.group {
  background-color: #ff8364;
  position: relative;
  min-height: 100vh;
  width: 100%;
}

.breathing-button {
  animation: breathing 2.5s ease-out infinite normal;
}

@keyframes breathing {
  0% {
    transform: scale(1.5);
  }

  50% {
    transform: scale(2.5);
  }

  100% {
    transform: scale(1.5);
  }
}

.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 15px;
  background: #ffffff;
  z-index: 9999;
  transform-origin: 0%;
}

@keyframes sheet {
  from {
    transform: scaleX(0.5);
  }
  to {
    transform: scaleX(1);
  }
}

#plane {
  animation: plane 1.5s ease-in-out infinite alternate;
}

@keyframes plane {
  from {
    transform: translateY(10px);
  }
  to {
    transform: translateY(-10px);
  }
}

#people {
  animation: people 1.5s infinite linear;
  transform-origin: center;
  transform-box: fill-box;
}

@keyframes people {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}

#righteye,
#lefteye {
  animation: eye 1.5s infinite linear;
  transform-origin: center;
  transform-box: fill-box;
}

@keyframes eye {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}

#smile {
  animation: smile 1.5s ease-in-out infinite alternate;
}

@keyframes smile {
  from {
    transform: translateY(-10px);
  }
  to {
    transform: translateY(10px);
  }
}

#leftleaf1,
#rightleaf2 {
  animation: leaf 1.5s ease-in-out infinite alternate;
}

@keyframes leaf {
  from {
    transform: translateY(-5px);
  }
  to {
    transform: translateY(5px);
  }
}

#leftleaf2,
#rightleaf1 {
  animation: leaf 1s ease-in-out infinite alternate;
}

@keyframes leaf {
  from {
    transform: translateY(-5px);
  }
  to {
    transform: translateY(5px);
  }
}

#leftleaf3 {
  animation: leaf 2s ease-in-out infinite alternate;
}

@keyframes leaf {
  from {
    transform: translateY(-5px);
  }
  to {
    transform: translateY(5px);
  }
}

#star,
#message,
#heart,
#plus,
#topleaf {
  animation: shapes 1.5s infinite linear;
  transform-origin: center;
  transform-box: fill-box;
}

@keyframes shapes {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}

#mylefteye,
#myrighteye,
#brain,
#pieChart {
  animation: eyez 1.5s infinite linear;
  transform-origin: center;
  transform-box: fill-box;
}

@keyframes eyez {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}

#sad {
  animation: sad 1.5s ease-in-out infinite alternate;
}

@keyframes sad {
  from {
    transform: translateX(-10px);
  }
  to {
    transform: translateX(10px);
  }
}

#barChart1 {
  animation: barChart1 1.5s ease-in-out infinite alternate;
}

@keyframes barChart1 {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-10px);
  }
}

#barChart2 {
  animation: barChart2 1s ease-in-out infinite alternate;
}

@keyframes barChart2 {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-10px);
  }
}

#barChart3 {
  animation: barChart3 2s ease-in-out infinite alternate;
}

@keyframes barChart3 {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-7px);
  }
}

#barChart4 {
  animation: barChart4 1s ease-in-out infinite alternate;
}

@keyframes barChart4 {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-15px);
  }
}

#barChart5 {
  animation: barChart5 0.8s ease-in-out infinite alternate;
}

@keyframes barChart5 {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-5px);
  }
}

#l1 {
  animation: l1 2s ease-in-out infinite alternate;
}

@keyframes l1 {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2px);
  }
}

#l2 {
  animation: l2 1.9s ease-in-out infinite alternate;
}

@keyframes l2 {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-4px);
  }
}

#l3 {
  animation: l3 1.8s ease-in-out infinite alternate;
}

@keyframes l3 {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-6px);
  }
}

#l4 {
  animation: l4 1.7s ease-in-out infinite alternate;
}

@keyframes l4 {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-8px);
  }
}

#l5 {
  animation: l5 1.6s ease-in-out infinite alternate;
}

@keyframes l5 {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-10px);
  }
}

#l6 {
  animation: l6 1.5s ease-in-out infinite alternate;
}

@keyframes l6 {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-12px);
  }
}

#l7 {
  animation: l7 1.4s ease-in-out infinite alternate;
}

@keyframes l7 {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-14px);
  }
}

#l8 {
  animation: l8 1.3s ease-in-out infinite alternate;
}

@keyframes l8 {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-16px);
  }
}

#l9 {
  animation: l9 1.2s ease-in-out infinite alternate;
}

@keyframes l9 {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-18px);
  }
}

#l10 {
  animation: l10 1s ease-in-out infinite alternate;
}

@keyframes l10 {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-20px);
  }
}

#l11 {
  animation: l11 1.2s ease-in-out infinite alternate;
}

@keyframes l11 {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-22px);
  }
}

#l12 {
  animation: l12 1.4s ease-in-out infinite alternate;
}

@keyframes l12 {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-24px);
  }
}

#l13 {
  animation: l13 1.6s ease-in-out infinite alternate;
}

@keyframes l13 {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-26px);
  }
}

#l14 {
  animation: l14 0.9s ease-in-out infinite alternate;
}

@keyframes l14 {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-28px);
  }
}

#l15 {
  animation: l15 1.2s ease-in-out infinite alternate;
}

@keyframes l15 {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-30px);
  }
}

#l16 {
  animation: l16 0.8s ease-in-out infinite alternate;
}

@keyframes l16 {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-32px);
  }
}

#l17 {
  animation: l17 1s ease-in-out infinite alternate;
}

@keyframes l17 {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-34px);
  }
}

#l18 {
  animation: l18 0.5s ease-in-out infinite alternate;
}

@keyframes l18 {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-36px);
  }
}

#l19 {
  animation: l19 0.7s ease-in-out infinite alternate;
}

@keyframes l19 {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-38px);
  }
}

#l20 {
  animation: l20 0.4s ease-in-out infinite alternate;
}

@keyframes l20 {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-40px);
  }
}

@media only screen and (max-width: 1200px) {
  .stressMobile {
    width: 236px;
    height: 236px;
  }

  .stressMobileSVG svg {
    width: 40px;
  }
}

@media only screen and (max-width: 1700px) {
  .slideText svg {
    width: 250px;
  }

  .slideText2 svg {
    width: 100px;
  }

  .aboutMeMobile {
    width: 108px;
    height: 100px;
  }

  .aboutMeMobileSVG svg {
    width: 50px;
  }

  .resumeMobile {
    width: 196px;
    height: 176px;
  }

  .resumeMobileSVG svg {
    width: 50px;
  }

  .tuinexpressMobile {
    width: 168px;
    height: 153px;
  }

  .tuinexpressMobileSVG svg {
    width: 30px;
  }

  .personalMobile {
    width: 328px;
    height: 173px;
  }

  .personalMobileSVG svg {
    width: 50px;
  }

  .formula1Mobile {
    width: 236px;
    height: 236px;
  }

  .formula1MobileSVG svg {
    width: 130px;
  }
}

@media only screen and (max-width: 1200px) {
  .homePageMobile {
    height: 100%;
  }

  .homePageMobileFlex {
    flex-direction: column;
  }
}

.slideText svg {
  transition: 0.5s ease-in;
}

.slideText svg:hover {
  transform: translateX(30px);
}

.sectionButton button {
  width: 100px;
  height: 100px;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s ease-in;
}

.sectionButton button:before {
  content: '';
  position: absolute;
  background: #ffffff;
  opacity: 50%;
  bottom: 0;
  left: 0;
  right: 0;
  top: 100%;
  z-index: -1;
  -webkit-transition: top 0.3s ease-in;
}

.sectionButton button:hover {
  transform: translateY(-10px);
}

.sectionButton button:hover:before {
  top: 0;
}

.sectionButtonAnalysis button {
  width: 100px;
  height: 100px;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s ease-in;
}

.sectionButtonAnalysis button:before {
  content: '';
  position: absolute;
  background: #ffffff;
  opacity: 50%;
  bottom: 0;
  left: 0;
  right: 0;
  top: 100%;
  z-index: -1;
}

.sectionButtonAnalysis button:hover {
  transform: translateY(-10px);
}

.sectionButtonAnalysis button:hover:before {
  top: 0;
}

.clickableButton button {
  width: 150px;
  height: 50px;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s ease-in;
}

.clickableButton button:before {
  content: '';
  position: absolute;
  background: #ffffff;
  opacity: 50%;
  bottom: 0;
  left: 0;
  right: 0;
  top: 100%;
  z-index: -1;
  -webkit-transition: top 0.3s ease-in;
}

.clickableButton button:hover {
  transform: translateY(-10px);
}

.clickableButton button:hover:before {
  top: 0;
}
